<div class="footer">
    <p>
        <a target="_self" href="<%linkurl("index")%>">首页</a> | <a target="_self" href="<%linkurl("about")%>">关于我们</a> |
        <a target="_self" href="<%linkurl("goods_list")%>">产品中心</a> | <a target="_self" href="<%linkurl("business")%>">业务范围</a>| 
        <a target="_self" href="<%linkurl("news_list")%>">新闻中心</a> | <a target="_self" href="<%linkurl("questions_list")%>">疑难问题</a> | 
        <a target="_self" href="<%linkurl("feedback")%>">留言本</a> | <a target="_self" href="<%linkurl("contact")%>">联系我们</a>
    </p>

    <p>
        传真：{config.webfax} 手机：<strong>{config.webtel}</strong>&nbsp;Email：<a href="mailto:{config.webmail}">{config.webmail}</a> <span style="display: inline !important">地址：{config.webaddress}</span>
    </p>
    <div class="footer_records">
        备案号：<a target="_blank" href="http://www.miibeian.gov.cn">{config.webcrod}</a>
    </div>
</div>