<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="css/practiceCss.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="headerC">
            <div class="headerC_Left">
                <img src="images/logo.png" />
                <ul>
                    <li><a href="#">资讯</a></li>
                    <li><a href="#">商城</a></li>
                    <li><a href="#">视频</a></li>
                    <li><a href="#">图片</a></li>
                    <li><a href="#">下载</a></li>
                </ul>
                <span class="search">
                    <input type="text" class="searchT" placeholder="输入回车搜索" />
                    <input type="button" class="searchB" />
                </span>
            </div>
            <div class="headerC_Right">
                <span><a href="#">登录</a>｜ <a href="#">注册</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <a href="#">购物车0件</a> &nbsp&nbsp <a href="#">联系我们</a> </span>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="categoryT">
            <h2>
                <a>互联网媒体</a>&nbsp&nbsp&nbsp&nbsp>&nbsp&nbsp&nbsp&nbsp
            </h2>
            <p>
                <a>人物杂志</a>&nbsp&nbsp&nbsp｜&nbsp&nbsp&nbsp<a>电子商务</a>&nbsp&nbsp&nbsp｜&nbsp&nbsp&nbsp
                <a>传闻爆料</a>
            </p>
        </div>
        <div class="categoryL">
            <ul>
                <li><a>
                    <img alt="图片" src="images/categoryTest.jpg" /></a>
                    <h3>
                        <a>娱乐速递,演艺界又常称为演艺圈、演艺界、娱乐界等</a></h3>
                    <p>
                        演艺界又常称为演艺圈、演艺界、娱乐界等，是泛指从事表演艺术方面事业的人的</p>
                    <i>2015/11/19 11:23:27</i> </li>
                <li><a>
                    <img alt="图片" src="images/categoryTest.jpg" /></a>
                    <h3>
                        <a>娱乐速递,演艺界又常称为演艺圈、演艺界、娱乐界等</a></h3>
                    <p>
                        演艺界又常称为演艺圈、演艺界、娱乐界等，是泛指从事表演艺术方面事业的人的</p>
                    <i>2015/11/19 11:23:27</i> </li>
                <li><a>
                    <img alt="图片" src="images/categoryTest.jpg" /></a>
                    <h3>
                        <a>娱乐速递,演艺界又常称为演艺圈、演艺界、娱乐界等</a></h3>
                    <p>
                        演艺界又常称为演艺圈、演艺界、娱乐界等，是泛指从事表演艺术方面事业的人的</p>
                    <i>2015/11/19 11:23:27</i> </li>
                <li><a>
                    <img alt="图片" src="images/categoryTest.jpg" /></a>
                    <h3>
                        <a>娱乐速递,演艺界又常称为演艺圈、演艺界、娱乐界等</a></h3>
                    <p>
                        演艺界又常称为演艺圈、演艺界、娱乐界等，是泛指从事表演艺术方面事业的人的</p>
                    <i>2015/11/19 11:23:27</i> </li>
            </ul>
        </div>
        <div class="categoryR">
            <ul>
                <li class="currLi"><i>1</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>2</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>3</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>4</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>5</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>6</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>7</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
                <li><i>8</i> <a>美国人怎么看 Apple ...</a> <span>11-09</span> </li>
            </ul>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div class="footer">
        <div class="footerC">
            <p>
                <a href="#">首 页</a>｜ <a href="#">关于我们</a>｜ <a href="#">新闻资讯</a>｜ <a href="#">购物商城</a>｜
                <a href="#">视频专区</a>｜ <a href="#">资源下载</a>｜ <a href="#">图片分享</a>｜ <a href="#">留言反馈</a>｜
                <a href="#">友情链接</a>
            </p>
            <p>
            版权所有 深圳市动力启航软件有限公司 粤ICP备11064298号 DTcms版本号：4.0.0
            </p>
            <p>
          Copyright © 2009-2015 dtcms.net Corporation,All Rights Reserved.
            </p>
        </div>
    </div>
</body>
</html>
