<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{model.title} - {site.name}</title>
<meta name="keywords" content="{model.seo_keywords}" />
<meta name="description" content="{model.seo_description}" />
<link href="<%templateskin%>/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="login_box">
  <div class="login_con">
    <div class="logo_nav">
      <div class="logo">
        <h1><a href="index.html"><img src="<%templateskin%>/images/logo.png" alt=""></a></h1>
      </div>
      <div class="nav_box">
        <ul>
          <li class="nav_on"><a href="index.html">首页</a></li>
          <li class="nav_out"><a href="liulanxiangmu.html">浏览项目</a></li>
          <li class="nav_out"><a href="news.html">新闻资讯</a></li>
          <li class="nav_out"><a href="fabuxiangmu.html">发布项目</a></li>
          <li class="nav_out"><a href="chuangyeshixun.html">创业实训</a></li>
          <li class="nav_out"><a href="guigufuzhou.html">硅谷福州</a></li>
        </ul>
      </div>
      <div class="login_right"> <a href="zhuce.html">注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="login.html">登录</a></div>
    </div>
  </div>
</div>
<div class="main_box">
  <div class="main_top"></div>
  <div class="main_con">
<div class="news_banner">  <img src="<%templateskin%>/images/news.jpg" width="1003" height="194" /></div>
<div class="news_main">

  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="news_vd.html" title=""><img src="<%templateskin%>/images/banner.jpg" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
  <p>这个是频道名称<%channel%></p>
  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="news_vd.html" title=""><img src="<%templateskin%>/images/banner.jpg" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="#" title=""><img src="<%templateskin%>/images/5374b10e9eacd.jpg" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="#" title=""><img src="<%templateskin%>/images/pic005.jpg" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="#" title=""><img src="<%templateskin%>/images/pic007.gif" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="#" title=""><img src="<%templateskin%>/images/banner.jpg" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
  <div class="news_list">
    <div class="date">
      <p>11.25</p>
      <p style="font-size:18px;">2013</p>
    </div>
    <!--date-->
    <div class="pic"><a href="#" title=""><img src="<%templateskin%>/images/pic001.jpg" alt=""></a></div>
    <div class="txt">
      <h2><a href="news_vd.html" title="">琥珀四重奏网站发布-Nic设计案例更新</a></h2>
      <p>琥珀四重奏成立于2005年，第一小提琴：宁方亮、第二小提琴：苏雅 菁、中提琴：戚望、大提琴：杨一晨，四位成员均来自于中央音乐学院，师从中央音乐学院陈允教授和于兵教授</p>
      <p><a href="news_vd.html" title="查看全文" style=" color:#f85050">查看全文>></a></p>
    </div>
  </div>
</div>
          <div class="more_box">
        <div class="page_updown">
        <ul>
          <li><a>15条</a></li> <li><a href="#" >上一页</a></li> <li class="on">1</li> <li><a href="#">2</a></li> <li><a href="#" >下一页</a></li>        </ul>
      </div>
      </div>
  </div>
</div>

<div class="clear15"></div>
<div class="footer">
  <div class="footer_box">
    <div class="footer_logo">
      <div style="padding-top:60px;"><img src="<%templateskin%>/images/footerlogo.gif"></div>
    </div>
    <div class="footer_xinx">
      <div class="foot_nav">
        <div class="left">
          <div class="nav_foot">
            <ul>
              <li><a href="#">浏览项目</a></li>
              <li>|</li>
              <li><a href="#">新闻资讯</a></li>
              <li>|</li>
              <li><a href="#">发布项目</a></li>
              <li>|</li>
              <li><a href="#">创业实训</a></li>
              <li>|</li>
              <li><a href="#">硅谷福州</a></li>
            </ul>
          </div>
          <div class="link_lan"><strong>合作伙伴</strong></div>
          <div class="link_foot">
            <ul>
              <li> <a href="http://www.baidu.com/">和讯网</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">雷锋网</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">36氪</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">hao123</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">360安全网址</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">北青网</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">凤凰网</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">亿邦动力社区</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">拉勾网</a> </li>
              <li>|</li>
              <li> <a href="http://www.baidu.com/">金融</a> </li>
              <li>|</li>
            </ul>
          </div>
        </div>
      
      <div class="right">
        <div class="contact_dh">+86-0591-83610703<br>
          7*24小时业务咨询</div>
        <div class="contactss"><img src="<%templateskin%>/images/wxsad.gif"></div>
      </div>
    </div>
    <div class="banquan"> ©2014 硅谷创投投资管理有限公司  版权所有   京ICP备14016844号 </div>
  </div>
</div>
</div>
</body>
</html>
